.cards {
    padding: 0 0 120px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 34px;
    margin: 0 auto;
    max-width: 968px;
    padding-top: 80px;
}

@media screen and (max-width: 991px) {
    .cards {
        grid-template-columns: 300px 300px;
        grid-gap: 80px;
        margin: 0 auto;
        max-width: 680px;
    }
}

@media screen and (max-width: 700px) {
    .cards {
        grid-template-columns: 300px;
        grid-gap: 80px;
        margin: 0 auto;
        max-width: 300px;
    }
}
